*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    width: 100%;
}
    #header{   
    padding: 10px;
    width: 100%;
    background-color: blue;
    color: #ffff;
    display: flex;
    flex-direction: row;
}

#logo{
    padding: 0 50px;
}
#logo>img{
    position: relative;
    width: 156px;
    height: 139px;
    top: -5px;
}
#content-section{
    position: relative;
    left: 0;
    padding: 0 50px;
}
#content-section p{
   
    font-size: 15px;
    font-style: italic;
}
#profile{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    
}
#profile .profile-select{
    padding: 5px 10px;   
}
#content{
    width: 100%;
}
.title{
    width: 100%;
    height: 50px;
    background-color: gray;
    color: #ffff;
    display: flex;
    align-items: center;
    padding: 0 50px;
   
}
.title1{
    text-transform: uppercase;
    padding-left: 8px;
}
#team-1{
    
}
#content-select{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.school{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.school-main{
    display: flex;
}

.school-name{
    border-left: 1px solid gray;
    padding: 4px;
    width: 100%;
    margin-left: 25px;
}

#school-content{
    padding: 15px 10px;
}

#school-content h3{
    display: flex;
    opacity: 0.7;
    
}

#school-content p{
    font-weight: 300;
    margin-left: 10px;
    opacity: 0.8;

}
#school{
    width: 20%;
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
#school-name{
    width: 20%;
    display: flex;
    height: 90px;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
#academic{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 190px;
    padding-top: 15px;
}
.content{
    padding: 10px;
    width: 100%;
    display: inline-block;
}
.content h3{
    display: flex;
}
#team-2{
    width: 100%;
}
#experience{
    width: 100%;
    
}
.company-main{
    width: 100%;
    display: flex;
}
.company{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}
.company-name{
        border-left: 1px solid rgb(30, 30, 30);
        padding-left: 10px;
}
.company-name h3{
    width: 100px;
}
#company-content{
    width: 100%;

}
#a{

}
#company-content>h3{
    display: flex;
    width: 100%;
    padding: 25px;
}
#company-content p{
    max-width: 58%;
    font-weight: 300;
    margin-left: 10px;
    opacity: 0.8;
}
#skill{
    
}
#skill-content{
    display: flex;
    padding: 10px 50px;
    
}

#skill-content ul{
    width: 40%;
}


@media(max-width: 739px){

}
